/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.site-header {
    background-color: #111;
    padding: 20px 0;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #111;
    position: relative;
}

.brand a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #f44336;
    text-transform: uppercase;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
}

.nav-links li .home-link {
    background-color: #f44336;
    color: #fff;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}

#menu-toggle {
    display: none;
}




















/* Responsive Design */

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        width: 100%;
    }

    .nav-links li a {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-radius: 0;
        background-color: #222;
    }

    .nav-links li .home-link {
        background-color: #f44336;
        color: #fff;
    }
}
